body {
	padding: 0;
	margin: 0;
}

header {
	height: 70px;
	margin: 0 auto;
	background-color: black;
	opacity: 0.7;
}

.logo{
	opacity: 1;
	float: left;
	margin-left: 40px;
	padding-top: 14px;
}

nav {
	float: left;
	margin-left: 250px;
}

.menu{
	opacity: 1;
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 36px;
	margin-top: 26px;
}

.menu a{
	font-size: 13px;
	color: #ffffff;
	font-family: 'Arial';
	font-weight: 400;
	letter-spacing: 2.5px;
	text-decoration: none;
	text-transform: uppercase;
}