header {
	background: url(../images/bg.png) no-repeat center top / cover;
	height: 508px;
}

body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

.logo {
	padding: 14px 0 0 40px;
}

nav {
	float: right;
}

.menu li {
	float: left;
	display: block;
	margin-right: 35px;
	margin-top: 10px;
}

.menu li a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Arial';
	font-size: 13px;
	font-weight: 400;
	padding: 0px;
	letter-spacing: 2.5px;

}

.heading {
	margin: 0;
	height: 70px;
	background-color: black;
	opacity: 0.7;
}

.titles h1 {
	color: #ffffff;
	font-size: 68px;
	text-align: center;
	letter-spacing: 5px;
	line-height: 1.17;
	font-weight: 700;
	padding: 24px 0 38px 0;
}

.titles p {
	color: #fff;
	padding: 0 0 30px 0;
	font-size: 22px;
	line-height: 1.5;
	text-align: center;
}

section {
	height: 900px;
}

footer {
	height: 121px;
	width: 100;
	border-top: 1px solid;
	border-top-color: #e1e1e1;
}

.titlesfoot {
	height: 36px;
	width: 317.36px;
	font-size: 12px;
	display: inline-block;
	line-height: 1.55;
	box-sizing: content-box;
	text-align: center;
}


